@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 




nav{
  display: flex;
  height: 70px;
  width: 100%;
  background: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: green;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: green;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #DFB82E;
  background: white;
}
nav .menu-btn i{
  color: #111;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: white;
  }
}



.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("images/landing.jpg");
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
}




.introtext {
  text-align: center;
  padding:300px;
  color: white;
}

h1 {
  font-size: 30pt;
}


#about {height: 80vh;

  background: url(images/trianglify.png);
  background-repeat: no-repeat;
  background-size: cover;

  
}
#innovator {height: 75vh;

  background: white;
  
}
#contactus {height: 85vh;
  background: #033D1E;
  box-sizing: border-box;
}

#copyrights {height: 15vh;
  background: white;
  box-sizing: border-box;
}

#partners {height: 45vh;
  background: white;
  box-sizing: border-box;
}

#partners .column {
  margin-left: 270px;
  margin-top: 50px;
}

.column .imagespartners {
  margin-top: 25px;
}

.ml10 {
  position: relative;
  font-weight: 950;
  font-size: 2em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}


#featured {height: 65vh;
  background: white;
  box-sizing: border-box;
  
}

#featured .column {
  margin-left: 80px;
  margin-top: 110px;
}

#featured h2 {
  color: black;
}

.button {
  border: none;
  background-color: #DFB82E;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.transparent_btn {
  display: inline-block;
  padding: 10px 14px;
  color: #FFF;
  border: 1px solid #FFF;
  text-decoration: none;
  font-size: 14px;
  line-height: 120%;
  background-color: rgba(255,255,255, 0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  cursor: pointer;
}
.transparent_btn:hover {
  background-color: rgba(255,255,255, 0.3);
  color: #FFF;
}

/* Orange Button */
.transparent_btn.orange {
  color: white;
  border-color: #ffc65d;
}
.transparent_btn.orange:hover {
  background-color: #DFB82E;
}

.transparent_btn.blue {
  color: #aeddf5;
  border-color: #aeddf5;
}
.transparent_btn.blue:hover {
  background-color: rgba(174, 221, 245, 0.3);
}

/* Green Button */
.transparent_btn.green {
  color: #86ec93;
  border-color: #86ec93;
}
.transparent_btn.green:hover {
  background-color: rgba(134, 236, 147, 0.3);
}

.imgAbout{
  background: white;
  width: 200px;
  height: 150px;
}

.imgAbout img {

  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.imgAbout img:hover {
  filter: grayscale(90);
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.column {
  float: left;
  width: 10%;
  height: 15%
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

h3 {
  color: white;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.container{
  
 
  display: flex;
  margin-left: 150px;
  align-items: center;
  padding: 20px 10px;
  margin-bottom: 200px;
}

.container:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("img/land.png") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.contact-box{
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
 
}



.right{
  padding: 25px 40px;
}

body {
  width: 100%
}


.field{
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.field:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

textarea{
  min-height: 150px;
}

.btn{
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #DFB82E;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
  .contact-box{
    grid-template-columns: 1fr;
  }
  .left{
    height: 200px;
  }
} 

.ontop{
    width: 100%;
}



.ontop .navbar{
    width: 100%;
    height: 60px;
    background: white;
    display: flex;
    align-items: center;
}

.ontop .navbar .links{
    display: flex;
    margin-left: 10px;
}

.ontop .navbar .links li{
    display: block;
    padding: 5px 15px;
}

.ontop .navbar .links li a{
    font-size: 22px;
    
}

.ontop .content{
    width: 1200px;
    margin: 0 auto;
}

.ontop .content p{
    margin-top: 25px;
    text-align: justify;
    font-size: 18px;
}


.kontakti {
  margin-left: 145px;
  margin-bottom: 250px;
  color: #DFB82E;
}






/* Split the screen in half */
.split {
    height: 70%;

  width: 50%;
  position: absolute;
  z-index: 1;
  
  overflow-x: hidden;
  padding-top: 20px;

}

/* Control the left side */
.left {
  left: 10px;

  overflow: hidden;
}

/* Control the right side */
.right {
  right: 0;
  overflow: hidden;
  
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */



textarea {
    resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

@charset "UTF-8";

.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #DFB82E;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #DFB82E;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #DFB82E;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #DFB82E;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #DFB82E;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

.basic-1 {
  background: 
      linear-gradient(currentColor 0 0) 
      bottom /var(--d, 20%) 3px 
      no-repeat;
  transition:0.5s;
}
.basic-1:hover {
  --d: 80%;
}

.basic-1 {
  display:inline-block;
  margin-left: 45%;
 
 text-align: center;
 
  cursor:pointer;
}