@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

nav{
  display: flex;
  height: 70px;
  width: 100%;
  background: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: green;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: green;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #DFB82E;
  background: white;
}
nav .menu-btn i{
  color: #111;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: white;
  }
}

.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/landing.jpg");
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
}




.introtext {
  text-align: center;
  padding:300px;
  color: white;
}

h1 {
  font-size: 30pt;
}


#about {height: 110vh;
  background: #CEFCE4;
  
}

#contactus {height: 85vh;
  background: #033D1E;
  box-sizing: border-box;
}

#copyrights {height: 15vh;
  background: white;
  box-sizing: border-box;
}

#partners {height: 45vh;
  background: white;
  box-sizing: border-box;
}

#partners .column {
  margin-left: 270px;
  margin-top: 50px;
}

.column .imagespartners {
  margin-top: 25px;
}

.ml10 {
  position: relative;
  font-weight: 950;
  font-size: 2em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}


#featured {height: 65vh;
  background: white;
  box-sizing: border-box;
  
}

#featured .column {
  margin-left: 80px;
  margin-top: 110px;
}

#featured h2 {
  color: black;
}

.button {
  border: none;
  background-color: #DFB82E;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}




.imgAbout{
  background: white;
  width: 200px;
  height: 150px;
}

.imgAbout img {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.imgAbout img:hover {
  background: white;
  opacity: 0.5;
}

img {
  max-width: 100%;
  height: auto;
}

.column {
  float: left;
  width: 10%;
  height: 15%
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

h3 {
  color: white;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.container{
  
  width: 100%;
  height: 100%;
  
  margin-left: 150px;
  align-items: center;
  padding: 20px 10px;
  margin-bottom: 200px;
}

